*.so
*.a
*.o
*.dll
svn-current/trunk/ctvmake
svn-current/trunk/m68kmake
svn-current/trunk/pgmspritecreate
svn-current/trunk/gamelist-gx.txt
svn-current/trunk/gamelist.txt
svn-current/trunk/src/dep/generated/*